<a href="https://colab.research.google.com/github/BrianGakungi/WEEK-9-IP-KNN-AND-NAIVE-BAYES-CLASSIFIERS/blob/main/JOHN_NJAGI_WEEK_9_IP_DATASET_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.) DEFINING THE QUESTION: Correctly use naive bayes classifier to classify if a message is spam or not**

**2.) METRIC OF SUCCESS: The values have been correctly classified as spam or not**

**3.) UNDERSTANDING THE CONTEXT: We are supposed to use Gaussian naive bayes classifier since our data is continuous in nature to perfrom the classification. We should be able to assess how accurate the classifier is and improve on the model.**

**4.) RECORDING THE EXPERIMENTAL DESIGN:**


*   Load the data set and preview the first 5 and last 5 rows
*   Check the number of rows and columns of our dataset

*   check for missing values
*   check datatypes of the columns for appropriateness


*   rename the test set column
*   correct the test set datatype


*   create train and test sets
*   perform 80-20, 70-30, 60-40 splits and train the data


*   Optimize the best perfroming model i.e the 60-40 model
*   Perform retraining of the 60-40 model to assess its performance on     optimization

**5.) DATA VALIDITY: The data contains all the necessary variables for us to conduct the analysis. As a result we do not need to incorporate an external data.**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# loading the dataset and previewing the first 5 rows
df = pd.read_csv("/content/spambase.data")
df.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [ ]:
# previewing the last 5 rows
df.tail()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
4595,0.31,0.0,0.62,0.0,0.00,0.31,0.0,0.0,0.0,0.0,...,0.000,0.232,0.0,0.000,0.0,0.0,1.142,3,88,0
4596,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.353,0.0,0.0,1.555,4,14,0
4597,0.30,0.0,0.30,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.102,0.718,0.0,0.000,0.0,0.0,1.404,6,118,0
4598,0.96,0.0,0.00,0.0,0.32,0.00,0.0,0.0,0.0,0.0,...,0.000,0.057,0.0,0.000,0.0,0.0,1.147,5,78,0
4599,0.00,0.0,0.65,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.125,0.0,0.0,1.250,5,40,0

In [ ]:
# checking the shape of the dataset
df.shape
# we have 58 columns and 4600 rows

(4600, 58)

In [ ]:
# checking for missing values
df.isnull().sum()
# no missing values exist in the columns

0         0
0.64      0
0.64.1    0
0.1       0
0.32      0
0.2       0
0.3       0
0.4       0
0.5       0
0.6       0
0.7       0
0.64.2    0
0.8       0
0.9       0
0.10      0
0.32.1    0
0.11      0
1.29      0
1.93      0
0.12      0
0.96      0
0.13      0
0.14      0
0.15      0
0.16      0
0.17      0
0.18      0
0.19      0
0.20      0
0.21      0
0.22      0
0.23      0
0.24      0
0.25      0
0.26      0
0.27      0
0.28      0
0.29      0
0.30      0
0.31      0
0.32.2    0
0.33      0
0.34      0
0.35      0
0.36      0
0.37      0
0.38      0
0.39      0
0.40      0
0.41      0
0.42      0
0.778     0
0.43      0
0.44      0
3.756     0
61        0
278       0
1         0
dtype: int64

In [ ]:
# checking the data types of the columns for appropriateness
df.dtypes

0         float64
0.64      float64
0.64.1    float64
0.1       float64
0.32      float64
0.2       float64
0.3       float64
0.4       float64
0.5       float64
0.6       float64
0.7       float64
0.64.2    float64
0.8       float64
0.9       float64
0.10      float64
0.32.1    float64
0.11      float64
1.29      float64
1.93      float64
0.12      float64
0.96      float64
0.13      float64
0.14      float64
0.15      float64
0.16      float64
0.17      float64
0.18      float64
0.19      float64
0.20      float64
0.21      float64
0.22      float64
0.23      float64
0.24      float64
0.25      float64
0.26      float64
0.27      float64
0.28      float64
0.29      float64
0.30      float64
0.31      float64
0.32.2    float64
0.33      float64
0.34      float64
0.35      float64
0.36      float64
0.37      float64
0.38      float64
0.39      float64
0.40      float64
0.41      float64
0.42      float64
0.778     float64
0.43      float64
0.44      float64
3.756     float64
61          int64
278         int64
1           int64
dtype: object

In [ ]:
# changing the name of column to an appropriate name
df.rename(columns = {'1':'spamstatus'}, inplace = True)

In [ ]:
# correcting the data types of several columns
df = df.astype({"spamstatus": bool})

In [ ]:
# creating the test and train sets
X = df.iloc[:, 1:57].values
y = df.iloc[:, 57].values

In [ ]:
# importing the relevant packages and splitting our data into an 80-20 training set and a test set
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=6)

In [ ]:
# Training our model
clf = GaussianNB()  
model = clf.fit(X_train, y_train)

In [ ]:
# assessing the accuracy of our model
print("Naive Bayes score: ",model.score(X_test, y_test))
# our model achieves an accuracy score of 0.8196 with an 80-20 split

Naive Bayes score:  0.8195652173913044

In [ ]:
# importing the relevant packages and splitting our data into an 70-30 training set and a test set
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=6)

In [ ]:
# Training our model
clf = GaussianNB()  
model = clf.fit(X_train, y_train)

In [ ]:
# assessing the accuracy of our model
print("Naive Bayes score: ",model.score(X_test, y_test))
# our model achieves an accuracy score of 0.8203 with a 70-30 split which is a slight improvement from the 80-20 split

Naive Bayes score:  0.8202898550724638

In [ ]:
# importing the relevant packages and splitting our data into an 60-40 training set and a test set
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [ ]:
# Training our model
clf = GaussianNB()  
model = clf.fit(X_train, y_train)

In [ ]:
# assessing the accuracy of our model
print("Naive Bayes score: ",model.score(X_test, y_test))
# our model achieves an accuracy score of 0.8234 with a 60-40 split which is a slight improvement from the 70-30 split and 
# the highest accuracy obtained from all the splits

Naive Bayes score:  0.8233695652173914

**OPTIMIZING OUR 60-40 SPLIT MODEL**

In [ ]:
# importing the normalizer package for sklearn
from sklearn.preprocessing import Normalizer
# Create normalizer
normalizer = Normalizer(norm='l2')
# Transform feature matrix
normalizer.transform(X)

array([[2.71062812e-04, 4.84040736e-04, 0.00000000e+00, ...,
        4.95076865e-03, 9.77762286e-02, 9.95187753e-01],
       [0.00000000e+00, 3.07292708e-04, 0.00000000e+00, ...,
        4.25059392e-03, 2.09911216e-01, 9.77710179e-01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.81192865e-02, 2.04911354e-01, 9.78451717e-01],
       ...,
       [0.00000000e+00, 2.53813764e-03, 0.00000000e+00, ...,
        1.18784841e-02, 5.07627527e-02, 9.98334137e-01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.46683398e-02, 6.39421963e-02, 9.97498262e-01],
       [0.00000000e+00, 1.59858723e-02, 0.00000000e+00, ...,
        3.07420620e-02, 1.22968248e-01, 9.83745986e-01]])

In [ ]:
# REMOVING HIGHLY CORRELATED FEATURES
# Create correlation matrix
corr_matrix = df.corr().abs()
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """

In [ ]:
# Drop features exhibiting high correlation
df.drop(df[to_drop], axis=1, inplace=True)

In [ ]:
# confirming the feature has been dropped by checking the shape of our dataset 
df.shape

(4600, 57)

In [ ]:
# Resplitting our dataset to a 60-40 split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [ ]:
# Retraining our 60-40 model after optimization
clf = GaussianNB()  
model = clf.fit(X_train, y_train)

In [ ]:
# assessing the accuracy of our model
print("Naive Bayes score: ",model.score(X_test, y_test))
# our model achieves the same accuracy score of 0.8234 with a 60-40 split hence there's no improvement upon optimizing the model

Naive Bayes score:  0.8233695652173914